<!DOCTYPE html>
<head>
	<title>
		Hr Approval
	</title>
	<link rel="stylesheet" type="text/css" href="hrstyle.css">
</head>
<body>
	<div id="wrapper">
   <h1 align="center">APPROVAL FOR BRAVO AWARDS</h1>
  <ul>
    <li>
     <div id="main_wrapper">
      <h3>Rahul Arora</h3>
       <img src="1.jpg " />
       <h2>Nominated on: Date</h2>
      <p>Resolved various issues, helped in various projects</p>
      <div id="button_wrapper">
     <button class="button button1">Approve</button>
      <button class="button button2">Decline</button>
      <button class="button button3">Hold</button>
      </div>
      </div>
    </li>

    <li>
     <div id="main_wrapper">
      <h3>xyz</h3>
       <img src="1.jpg " />
       <h2>Nominated on: Date</h2>
      <p>Resolved various issues, helped in various projects</p>
      <div id="button_wrapper">
     <button class="button button1">Approve</button>
      <button class="button button2">Decline</button>
      <button class="button button3">Hold</button>
      </div>
      </div>
    </li>

   <li>
     <div id="main_wrapper">
      <h3>Demo</h3>
       <img src="1.jpg " />
       <h2>Nominated on: Date</h2>
      <p>Resolved various issues, helped in various projects</p>
      <div id="button_wrapper">
     <button class="button button1">Approve</button>
      <button class="button button2">Decline</button>
      <button class="button button3">Hold</button>
      </div>
      </div>
    </li>

   <li>
     <div id="main_wrapper">
      <h3>Present</h3>
       <img src="1.jpg " />
       <h2>Nominated on: Date</h2>
      <p>Resolved various issues, helped in various projects</p>
      <div id="button_wrapper">
     <button class="button button1">Approve</button>
      <button class="button button2">Decline</button>
      <button class="button button3">Hold</button>
      </div>
      </div>
    </li>
  </ul>
</div>
</body>